.player__profile-north {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player__profile-south {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.player__avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #666;
}

.player__name {
  margin: 4px;
  font-size: 18px;
  font-weight: 800;
}

.player__color {
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 10px;
  border: solid 1px #ececec;
}

.white {
  background-color: #fff;
}
.black {
  background-color: #000;
}