/*
pale red: f15a4a
light tan: d0c7af
mid tan: b0a091
dark tan: 4d443b
light blue: 485562
mid blue: 2c343f
dark blue: 14151b
*/

.shogi__board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100vw;
  height: 100vw;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  border-collapse: collapse;
  border: solid 1px rgba(255,255,255,0.6);
  box-shadow: 0px 0px 6px 2px rgba(20, 21, 27, 0.8);
  margin: 0px;
}

.shogi__token {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  height: 86%;
  width: 73%;
}

.facing-south {
  transform: rotate(180deg);
}

.space {
  border-width: 1px;
  border-style: solid;

  border-top-color: rgba(255,255,255,0.2);
  border-right-color:rgba(255,255,255,0.2);
  border-bottom-color: rgba(255,255,255,0.2);
  border-left-color: rgba(255,255,255,0.2);

  background-color: rgba(208, 199, 175, 0.5);
  margin: 0px;
  padding: 4px;
}

.space.blink__from {
  background-color: rgba(241, 90, 74, 0.0);
  transition: background-color 0.25s ease;
  animation: firstBlink 2s once;
}
.space.blink__to {
  background-color: rgba(241, 90, 74, 0.0);
  transition: background-color 0.25s ease;
  animation: secondBlink 2s once;
}
@keyframes firstBlink {
  0% { background-color: rgba(241, 90, 74, 0.0); }
  25% { background-color: rgba(241, 90, 74, 1.0); }
  50% { background-color: rgba(241, 90, 74, 0.0); }
  100% { background-color: rgba(241, 90, 74, 0.0); }
}
@keyframes secondBlink {
  0% { background-color: rgba(241, 90, 74, 0.0); }
  50% { background-color: rgba(241, 90, 74, 0.0); }
  75% { background-color: rgba(241, 90, 74, 1.0); }
  100% { background-color: rgba(241, 90, 74, 0.0); }
}

.lower-border {
  border-bottom-color: rgba(255,255,255,1);
}
.upper-border {
  border-top-color: rgba(255,255,255,1);
}
.right-border {
  border-right-color: rgba(255,255,255,1);
}
.left-border {
  border-left-color: rgba(255,255,255,1);
}

@media screen and (min-width: 740px) {
  .shogi__board {
    width: 70vh;
    height: 70vh;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
  }
  .space {
    padding: 8px 8px;
  }
}
@media screen and (min-width: 950px) {

}

@media screen and (min-width: 1130px) {

  .shogi__board {
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    margin: 4px;
  }

}
@media screen and (min-width: 1350px) {
  .shogi__board {
    width: 80vh;
    height: 80vh;
  }
}