.space {
  width: 80px;
  height: 80px;
  border: solid 1px #999;
}

.promote-black {
  background-color: #ececec;
}

.promote-white {
  background-color: #cecece;
}

.active {
  cursor: pointer;
}

.active:hover {
  background-color: #ffcc00;
}

.selected {
  border: solid 1px #ff0000;
}