.shogi__board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-columns: 44px;
  grid-auto-rows: 44px;
  border-collapse: collapse;
  border: solid 1px rgba(255,255,255,0.6);
  box-shadow: 0px 0px 6px 2px rgba(20, 21, 27, 0.8);
  margin: 0px;
}

.shogi__token {
  text-indent: -999px;
  overflow: hidden;
  width: 30px;
  height: 35px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.lower-border {
  border-bottom-color: rgba(0,0,0,0.6);
}
.upper-border {
  border-top-color: rgba(0,0,0,0.6);
}
.right-border {
  border-right-color: rgba(0,0,0,0.6);
}
.left-border {
  border-left-color: rgba(0,0,0,0.6);
}

@media screen and (min-device-width: 740px) {

  .shogi__board {
    grid-auto-columns: minmax(60px, 70px);
    grid-auto-rows: minmax(60px, 70px);
    margin: 4px;
  }

  .shogi__token {
    width: 80%;
    height: 90%;
  }
}