.shogi__board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> mostly responsive now
  width: 100vw;
  height: 100vw;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
=======
  grid-auto-columns: 44px;
  grid-auto-rows: 44px;
>>>>>>> slide-in menus
=======
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
>>>>>>> ipad portrait 740-1024
  border-collapse: collapse;
  border: solid 1px rgba(255,255,255,0.6);
  box-shadow: 0px 0px 6px 2px rgba(20, 21, 27, 0.8);
  margin: 0px;
}

.shogi__token {
  display: block;
  text-indent: -999px;
  overflow: hidden;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.lower-border {
  border-bottom-color: rgba(0,0,0,0.6);
}
.upper-border {
  border-top-color: rgba(0,0,0,0.6);
}
.right-border {
  border-right-color: rgba(0,0,0,0.6);
}
.left-border {
  border-left-color: rgba(0,0,0,0.6);
}

@media screen and (min-device-width: 740px) {
  .shogi__board {
    width: 80vw;
    height: 80vw;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
  }
}

@media screen and (min-device-width: 1025px) {

  .shogi__board {
    width: 80vh;
    height: 80vh;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    margin: 4px;
  }

  .shogi__token {
    width: 80%;
    height: 90%;
  }
}