/*
pale red: f15a4a
light tan: d0c7af
mid tan: b0a091
dark tan: 4d443b
light blue: 485562
mid blue: 2c343f
dark blue: 14151b
*/


.match__hand {
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.match__hand.north {
  justify-content: flex-end;
}

.match__hand.south {
  justify-content: flex-start;
}

.player__hand {
  z-index: 50;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.player__hand.south {
  flex-flow: column-reverse nowrap;
}

.player__hand-menu {
  display: block;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: baseline;
}

.player__hand-selection {
  background-color: #485562;
  width: 95vw;
  height: 50px;
  transition: all 0.3s ease;
}
.player__hand-selection.north {
  border-top-left-radius: 6px;
  border-top-right-radius: 8px;
}
.player__hand-selection.south {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 8px;
}

.player__hand-selection.hidden {
  display: none;
  width: 100%;
}
.player__hand-selection.shown {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 1fr;
}

.button__tab {
  color: #d0c7af;
  background-color: #485562;
  text-shadow: 1px 1px 2px #14151b;
  text-decoration: none;
  height: 18px;
  width: 140px;
  padding: 8px 8px;
  text-align: center;
  line-height: 18px;
}
.button__tab.north {
  margin-top: -35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.button__tab.south {
  margin-bottom: -35px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.player__hand-tile {
  cursor: pointer;
  width: 80;
  height: 80;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}
.player__hand-tile.north {
  margin-top: 4px;
  padding-top: 4px;
  flex-direction: column;
}
.player__hand-tile.south {
  margin-bottom: 4px;
  padding-bottom: 4px;
  flex-direction: column-reverse;
}
.player__hand-count {
  text-align: center;
  font-size: 8px;
  font-weight: 700;
}
.player__hand-tile > .shogi__token {
  width: 25px;
  height: 32px;
  margin-bottom: 0px;
}

.player__hand-tile.blink__from {
  background-color: rgba(241, 90, 74, 0.0);
  transition: background-color 0.25s ease;
  animation: firstBlink 2s once;
}
.player__hand-tile.blink__to {
  background-color: rgba(241, 90, 74, 0.0);
  transition: background-color 0.25s ease;
  animation: secondBlink 2s once;
}
@keyframes firstBlink {
  0% { background-color: rgba(241, 90, 74, 0.0); }
  25% { background-color: rgba(241, 90, 74, 1.0); }
  50% { background-color: rgba(241, 90, 74, 0.0); }
  100% { background-color: rgba(241, 90, 74, 0.0); }
}
@keyframes secondBlink {
  0% { background-color: rgba(241, 90, 74, 0.0); }
  50% { background-color: rgba(241, 90, 74, 0.0); }
  75% { background-color: rgba(241, 90, 74, 1.0); }
  100% { background-color: rgba(241, 90, 74, 0.0); }
}


@media screen and (min-device-width: 740px) {
  .match__hand {
    height: 80px;
  }
  .player__hand-tile {
    width: 70px;
    height: 70px;
  }
  .player__hand-selection {
    width: 80vw;
    height: 80px;
  }
  .player__hand-tile > .shogi__token {
    width: 40px;
    height: 50px;
    margin-bottom: 0px;
  }
  .player__hand-count {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (min-width: 875px) {
  .match__hand {
    height: 75px;
  }
  .player__hand-tile {
    width: 63px;
    height: 60px;
  }
  .player__hand-tile > .shogi__token {
    width: 30px;
    height: 40px;
    margin-bottom: 0px;
  }
  .player__hand-menu {
    display: none;
  }
  .player__hand-selection, .player__hand-selection.hidden {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
}

@media screen and (min-width: 1130px) {

}