#home-container {
  /* display: inline-block; */
  /* flex-direction: row;
  justify-content: center; */
}

#match-new {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  float: left;
}

#match-rejoin {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  float: left;
}

#chat {
  /* display: flex; */
  float: right;
  /* flex-direction: row; */
  /* justify-content: center; */
}