.modal__backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 21, 27, 0.4);
}

.modal {
  z-index: 1000;
  position: absolute;
  top: 40%;
  width: 100%;
  height: 120px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(45deg, #485562, #2c343f);
  border: 1px solid #14151b;
  box-shadow:
    0px 0px 0px 2px #f15a4a,
    0px 0px 0px 4px #d0c7af,
    0px 0px 8px 5px #14151b;
}

.modal__message {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.modal__message > * {
  margin: 2px;
}

.modal__headline {
  font-family: 'Oswald';
  font-size: 24px;
  font-style: italic;
  color: #d0c7af;
  text-align: center;
  text-shadow: 1px 1px 2px #14151b;
}
.modal__subheadline {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  color: #d0c7af;
  text-align: center;
  text-shadow: 1px 1px 2px #14151b;
}

.modal__option {
  cursor: pointer;
  color: #d0c7af;
  font-size: 18px;
  margin: 0px 16px -4px 16px;
  padding: 6px 4px 4px 4px;
  text-shadow: 1px 1px 2px #14151b;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  align-self: center;
  margin: 4px;
}
.modal__option:hover {
  color: #f15a4a;
  border-bottom-color: #f15a4a;
}

@media screen and (min-device-width: 740px) {
  .modal__headline {
    font-size: 36px;
  }
  .modal__subheadline {
    font-size: 14px;
  }
  .modal__option {
    font-size: 22px;
    margin: 0px 16px -4px 16px;
    padding: 6px 4px 4px 4px;
  }
}