.vert-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #cecece;
  height: 100%;
  display: inline-block;
}

.vert-nav a {
  display: block;
  color: white;
  width: auto;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Shift', sans-serif;
}

.vert-bar {
  background-color: #cecece;
  width: 100px;
  height: 100vh;
}

.acct-container {
  height: 100%;
}

li a:hover {
  background-color: #6a6969;
}

.edit-container {
  display: inline-block;
  vertical-align: top;
}

.faq-list {
  min-width: 500px;
  width: 100%;
  max-width: 740px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-family: 'Shift', sans-serif;
}

.faq-container {
  min-width: 500px;
  width: 100%;
  max-width: 740px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-family: 'Shift', sans-serif;
  justify-content: center
}

.title {
  font-family: 'Shift', sans-serif;
  font-size: 16px;
  text-align: center;
}

.rankings-container {
  display: inline-block;
  vertical-align: top;
  align-content: center;
  width: 600px;
  font-size: 16px;
  font-family: 'Shift', sans-serif;
}