@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald');

* {
  outline: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*--
dl, dt, dd, ol, ul, li,
-- */
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0px;
}

h1, h2, h3, h4, h5 { font-family: 'Oswald' }
strong { font-weight: 700; }



.prev_match_container {
  display: grid;
  grid-template-rows: 50px 10fr;
  height: 100%;
  max-height: 350px;
  width: 100%;
  max-height: 525px;
  overflow: hidden;
  align-self: end;
  font-size: 20px;
}

.prev_match_head {
  padding-left: 10px;
  padding-top: 5px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 25px;
  background-color: #333;
  color: #eee;
}

.prev_match_select {
  font-family: 'Oswald';
  height: 100;
  overflow: auto;
  background: linear-gradient(#eee, #ddd);
  color: #2c343f;
  height: 100;
  text-align: center;
}

.prev_match_items {
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  /* font-size: 14px; */
  /* font-weight: 600; */
  display: grid;
  height: 45px;
  border-bottom: solid 1px #ccc;
  grid-template-columns: 3fr 3fr 4fr;
  align-items: center;
}

.prev_match_items:hover {
  cursor: pointer;
  background-color: #f15a4a;
  color: #eee;
  /* background: linear-gradient(rgba(238, 238, 238, 0), rgba(221, 221, 221, 0)); */
}

.prev_match_opponent {
  text-transform: uppercase;
  /* font-size: 21px; */
}

.prev_match_turn {
  float: middle;
}

.prev_match_time {
  float: right;
  /* font-size: 16px; */
  padding-top: 5px;
  padding-right: 10px;
}

.prev_match_move {
  /* font-style: italic; */
  box-shadow: inset 1px 1px 8px 8px #f15a4a;
  /* text-shadow: 1px 1px 2px #f15a4a; */
}