/*
pale red: f15a4a
light tan: d0c7af
mid tan: b0a091
dark tan: 4d443b
light blue: 485562
mid blue: 2c343f
dark blue: 14151b
*/
.match__log {
  position: absolute;
  height: 100vh;
  width: 80vw;
  z-index: 100;
  background-color: #485562;
  display: grid;
  grid-template-rows: 9fr 1fr;
  transition: all 0.4s ease;
}
.match__log.hidden {
  left: -80vw;
}
.match__log.shown {
  left: 0vw;
}

.match__log-list {
  overflow: hidden;
  height: 90vh;
}

.match__log-list-inner {
  overflow: auto;
  width: 100%;
  height: 99%;
  padding-right: 15px;
}

.match__log-item {
  color: #d0c7af;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  padding: 4px;
  background: linear-gradient(#2c343f, #485562);
  border-top: solid 1px rgba(255,255,255, 0.4);
  border-right: solid 1px rgba(255,255,255, 0.2);
  border-bottom: solid 1px #14151b;
  border-left: solid 1px #14151b;
}

.match__log-piece {
  width: 60px;
  height: 60px;
  margin-left: 8px;
  margin-right: 8px;
}

.match__log-item.warning {
  color: #f15a4a;
  font-size: 18px;
  text-transform: uppercase;
}

.match__log-event {
  font-weight: 400;
  text-shadow: 1px 1px 2px #000;
}
.match__log-event h3 {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px;
}
.match__log-event span {
  font-size: 14px;
}

.match__log-color {
  width: 8px;
  height: 100%;
  margin-right: 8px;
}
.match__log-color.white {
  background-color: #fff;
}
.match__log-color.black {
  background-color: #000;
}

.match__log-actions {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 740px) {
  .match__log {
    position: absolute;
    height: 100vh;
    width: 30vw;
  }
}

@media screen and (min-width: 875px) {
}

@media screen and (min-width: 1130px) {
  .match__log, .match__log.hidden {
    left: 0px;
    position: relative;
    width: 170px;
    margin-right: 32px;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
  }
  .match__log-list {
    height: 100vh;
  }
  .match__log-control {
    display: none;
  }
  .match__log-item {
    height: 45px;
  }
  .match__log-event h3 {
    font-size: 12px;
    line-height: 18px;
  }
  .match__log-event span {
    font-size: 10px;
  }
  .match__log-piece {
    width: 40px;
    height: 40px;
  }
  .match__log-actions {
    display: none;
  }

}