.modal {
  z-index: 100;
  position: absolute;
  top: 35%;
  width: 100%;
  height: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #a15757;
  border: solid 1px rgb(53, 0, 0);
}

.modal__prompt {
  font-size: 36px;
  font-style: italic;
  margin-right: 24px;
}

.modal__option {
  font-size: 18px;
  background-color: #fff;
  border: solid 1px #999;
  margin: 8px;
}