.friend-challenge {
  /* display: grid; */
  /* grid-template-columns: 8fr 1fr 1fr; */
  width: 100%;
}

.challenge_items {
  font-size: 15px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 10fr 50px 50px;
  height: 45px;
  padding: 4px;
  background: linear-gradient(#eee, #ddd);
  border-bottom: solid 1px #ccc;
}

.challenge_button {
  cursor: pointer;
  width: 100%;
}

.online-container {
  display: inline-block;
  vertical-align: top;
  min-width: 500px;
  width: 100%;
  max-width: 740px;
}

.online-head {
  padding-left: 10px;
  padding-top: 5px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 25px;
}

.online-head-right {
  float: right;
  padding-right: 10px;
}

.online-challenge-icon {
  width: 50px;
  float: right;
  padding-right: 25px;
}

.online-challenge-text {
  width: 100px;
  float: right;
  text-align: center;
  padding-top: 10px;
}

.online-friend-container {
  position: relative;
}

.online-friend-avi {
  padding-left: 20px;
  width: 50px;
}

.online-challenge-button1 {
  position: absolute;
  width: 50px;
  right: 50px;
  bottom: 15px;
}

.online-challenge-button2 {
  position: absolute;
  width: 50px;
  right: 0px;
  bottom: 15px;
}

.online-challenge-svg {
  width: 50px;
  float: right;
  padding-right: 25px;
  color: #f15a4a;
  fill: #f15a4a;
}

.online-username {
  padding-left: 25px;
  padding-right: 5px;
  width: auto;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
}

.online-message-icon {
  width: 15px;
  cursor: pointer;
}
