/*
pale red: f15a4a
light tan: d0c7af
mid tan: b0a091
dark tan: 4d443b
light blue: 485562
mid blue: 2c343f
dark blue: 14151b
*/

.friend-challenge {
  width: 100%;
}

.challenge_items {
  font-size: 15px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 10fr 50px 50px;
  height: 45px;
  padding: 4px;
  background: linear-gradient(#eee, #ddd);
  border-bottom: solid 1px #ccc;
}

.challenge_button {
  cursor: pointer;
  width: 100%;
}

.friends__container {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 40px;
  background-color: #485562;
  border: solid 1px rgba(20, 21, 27, 0.8);
  padding: 8px;
  box-shadow: 0px 0px 10px 0px rgba(20, 21, 27, 0.6);
}

.friends__header {
  background: #333;
  margin: -8px -8px 8px -8px;
  padding: 8px;
}

.friends__header h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.friends__list-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgba(255,255,255,0.2);
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.4);
}
.friends__list-username {
  margin-left: 16px;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 18px;
  color: #eee;
  text-shadow: 1px 1px 2px #14151b;
  cursor: pointer;
}
.friends__list-username:hover {
  color: #fff;
}

.friends__challenge {
  width: 40px;
}
.friends__challenge-pending {
  width: 40px;
  margin-top: -10px;
}

.friends__challenge-accept {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 70px;
}
.friends__challenge-pending span {
  color: #14151b;
}
.friends__challenge-accept span {
  color: #fff;
}
.friends__challenge-accept span, .friends__challenge-pending span {
  margin-top: -12px;
  margin-bottom: 4px;
  line-height: 12px;
  font-size: 10px;
}

.friends__challenge-accept button {
  width: 30px;
  height: 30px;
  margin: 4px;
}

.friends__challenge-accept-options {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.friends__challenge-icon-pending {
  fill: #14151b;
}
.friends__challenge-icon-pending:hover {
  cursor: pointer;
  fill: #2c343f;
}

.friends__list-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.friends__list-actions > * {
  margin: 4px;
}

.friends__list-action {
  width: 40px;
  height: 40px;
  transition: all 0.4s ease;
}
.friends__list-message {
  width: 16px;
  height: 16px;
  margin-bottom: -9px;
  margin-left: 8px;
}

.friends__list-message, .friends__challenge-icon {
  fill: #fff;
}
.friends__list-message:hover, .friends__challenge-icon:hover {
  cursor: pointer;
  fill: #f15a4a;
}


.friends__list-profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.friends__list-avatar {
  margin-left: 8px;
  width: 50px;
  height: 50px;
}

.friends__actions {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 16px;
}