.turn__indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.turn__indicator > * {
  flex: 1;
  margin: 4px;
}

.turn__indicator-north {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom-style: solid;
  border-bottom-width: 30px;
  border-bottom-color: rgba(44, 52, 63, 0);
}

.north__active {
  border-bottom-color: #d0c7af;
}

.turn__indicator-south {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top-style: solid;
  border-top-width: 30px;
  border-top-color: rgba(44, 52, 63, 0);
}

.south__active {
  border-top-color: #d0c7af;
}

.turn__timer {
  font-size: 24px;
  font-weight: 800;
  color: #2c343f;
}