.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cecece;
}

.logo a {
  float: left;
  border-right: none;
  background: url(../Logo/logo.svg);
  background-size: cover;
  height: 80px;
  width: 87px;
}

.nav a {
  float: right;
  display: block;
  color: white;
  height: 50px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  font-family: 'Shift', sans-serif
}

li a:hover {
  background-color: #6a6969;
}
