
.turn__indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.turn__indicator > * {
  margin: 8px;
}

.turn__indicator-north {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom-style: solid;
  border-bottom-width: 30px;
  border-bottom-color: rgba(44, 52, 63, 0);
  transform: rotate(-90deg);
}
.north__active {
  border-bottom-color: #d0c7af;
}

.turn__indicator-south {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top-style: solid;
  border-top-width: 30px;
  border-top-color: rgba(44, 52, 63, 0);
  transform: rotate(-90deg);
}

.south__active {
  border-top-color: #d0c7af;
}

.turn__timer {
  font-family: 'Oswald';
  font-style: italic;
  font-size: 24px;
  color: #d0c7af;
  text-shadow:
    1px 1px 2px #14151b;
}

@media screen and (min-width: 875px) {
  .turn__indicator {
    flex-direction: column;
  }

  .turn__indicator-north {
    transform: rotate(0deg);
  }

  .turn__indicator-south {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1130px) {



}