.landing-page-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-page-container > * {
  flex: 1 auto;
}  

.landing-button{
  background-color: #cecece;
  color: #6a6969;
  padding: 16px;
  width: 80px;
  font-size: 14px;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
  justify-content: center;
}

.title{
  font-weight: bold;
  font-family: 'Shift', sans-serif
}

