
.popup-box {
  z-index: 800;
  display: grid;
  grid-auto-rows: 1fr 8fr 1fr;
  position: fixed;
  bottom: 0px;
  height: 55vh;
  background-color: #2c343f;
  width: 100%;
  border: 1px solid rgba(29, 49, 91, .3);
  color: #d0c7af;
  font-size: 14px;
}

.popup-head {
  display: grid;
  grid-template-columns: 9fr 1fr;
  background-color: #485562;
  padding: 4px;
  font-family: 'Oswald';
  font-size: 16px;
}

.popup-head-left {
  float: left;
  cursor: pointer;
}

.popup-head-right {
  display: grid;
  grid-template-columns: 5fr 5fr;
  float: right;
  opacity: 0.5;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #d0c7af;
}

.popup-head-right a {
  padding-left: 4px;
}

.popup-messages {
  overflow: scroll;
  display: flex;
  flex-flow: column-reverse nowrap;
  word-wrap: break-word;
}

.popup-message {
  padding: 4px 4px;
  text-shadow: 1px 1px 2px #000;
}

.popup-actions {
  display: grid;
  grid-template-columns: 9fr 1fr;
  width: 100%;
}

.popup-actions input {
  padding-right: 30px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  background-color: #485562;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #d0c7af;
}

.popup-messages strong {
  margin-right: 4px;
  font-family: 'Oswald';
  color: #e0dbcb;
}

.popup-actions button {
  position: relative;
  height: 24px;
  width: 30px;
  border-radius: 4px;
  z-index: 10;
}

.popup-box-min {
  position: fixed;
  bottom: 0px;
  height: 0px;
  width: 300px;
  float: right;
  color: #d0c7af;
  background-color: #2c343f;
}

.popup-head-min {
  display: grid;
  grid-template-columns: 9fr 1fr;
  background-color: #2c343f;
  padding: 4px;
  font-weight: bold;
  font-family: 'Oswald';
  font-size: 16px;
}

.timestamp {
  text-align: center;
}

@media screen and (min-width: 875px) {

  .popup-box {
    z-index: 800;
    display: grid;
    grid-auto-rows: 1fr 8fr 1fr;
    position: fixed;
    bottom: 0px;
    right: 90px;
    height: 285px;
    background-color: #2c343f;
    width: 300px;
    border: 1px solid rgba(29, 49, 91, .3);
    color: #d0c7af;
    font-size: 14px;
  }
  .popup-box-min {
    height: 30px;
    right: 90px;
  }
}
/* .popup-actions-min {
  display: none;
} */

/* @media only screen and (max-width : 540px)
{
    .chat-sidebar
    {
        display: none !important;
    }

    .chat-popup
    {
        display: none !important;
    }
}

body
{
    background-color: #e9eaed;
}

.chat-sidebar
{
    width: 200px;
    position: fixed;
    height: 100%;
    right: 0px;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.sidebar-name
{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 12px;
}

.sidebar-name span
{
    padding-left: 5px;
}

.sidebar-name a
{
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.sidebar-name:hover
{
    background-color:#e1e2e5;
}

.sidebar-name img
{
    width: 32px;
    height: 32px;
    vertical-align:middle;
} */
